#footer-main {
    background: var(--color-secondary);
    color: #fff;
    padding: 0 var(--container-margin);
    font-weight: 400;

    .logo {
        img {
            height: auto;
        }
    }
    address {
        color: var(--color-fourth);
    }
    .nav-hub_solutions {
        li {
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }
    .nav-extra {
        display: flex;
        align-self: flex-start;
    }
    .list-share {
        margin-left: 20px;
        vertical-align: middle;

        li {
            width: 33px;
            height: 33px;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid var(--color-primary);
            border-radius: 50%;
            width: 33px;
            height: 33px;

            &:before {
                content: "\e902";
                font-family: var(--font-icon);
                line-height: 1;
                color: #fff;
                font-size: 3.3rem;
            }
        }
    }
    .footer-top {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        justify-items: start;
        padding: var(--margin) 0;
        grid-row-gap: 40px;
    }
    .footer-bottom {
        border-top: 1px solid var(--color-third);
        color: $color-sixth;
        font-size: var(--font-size-small);
        ul {
            grid-gap: 20px;
        }
        small{
            margin-left: auto;
        }
    }

    @media (--breakpoint-medium-down) {
        .logo {
            img {
                width: 45px;
            }
        }
        address {
            grid-column: 1 / -1;
            grid-row: 2;
        }
        .nav-extra {
            grid-column: 6 / -1;
            grid-row: 1;
            justify-self: end;
            align-self: center;
        }
        .nav-hub_solutions {
            grid-column: 1 / -1;
            grid-row: 3;
        }
        .footer-bottom {
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;

            ul {
                display: flex; 
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 25px;
            }
        }
    }
    @media (--breakpoint-medium-up) {
        address {
            grid-column: 3 / 6;
        }
        .nav-hub_solutions {
            grid-column: 7 / 11;
            columns: 2;
            column-gap: 40px;
        }
        .nav-extra {
            grid-column: -2 / -1;
        }
        .footer-bottom {
            display: flex;
            padding-top: 20px;
            padding-bottom: 20px;

            ul{
                display: grid;
                grid-auto-columns: auto;

                li{
                    grid-row: 1;
                }
            }
        }
    }
}