.form{

    .field {
        position: relative;
        display: flex;

        > label{
            font-weight: 400;
        }
    }
    [type=text],
    [type=email],
    [type=password],
    [type=tel],
    [type=date],
    [type=number],
    [type=url] {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        padding: 0 20px;
        height: 50px;
        width: 100%;
        background: none;
        background-color: #fff;
        border: none;
        margin: 0;
        font-weight: 300;

        &:focus{
            outline: 1px solid var(--color-3);
        }
        &.error{
            outline: 1px solid var(--color-error)!important;
            color: var(--color-error);
        }
    }
    textarea {
        font-family: inherit;
        appearance: none;
        font-size: inherit;
        color: inherit;
        width: 100%;
		resize: vertical;
        padding: 20px 0 20px 20px;
        background: none;
        background-color: #fff;
		border: none;
        margin: 0;
        min-height: 160px;
        font-weight: 300;

        &:focus{
            outline: 1px solid var(--color-3);
        }
        &.error{
            border-color: var(--color-error);
        }
    }
    .field-error-msg{
        color: var(--color-error);
        margin-top: 6px;
        font-size: 13px;
        position: absolute;
        top: 100%;
        right: 0;
    }
    [type=submit] {
        background: none;
        appearance: none;
        border: none;
        color: inherit;
        font-weight: 500;
        padding: 0;
        cursor: pointer;
        padding-bottom: 4px; 
    }
    .action {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        width: 100%;
    }
    .checkbox{
        [type=checkbox]{
            display: none;
        }
        .error-msg{
            right: auto;
            left: 0;
        }
        label{ 
            font-size: 1.4rem;
            cursor: pointer;
            display: flex;
            align-items: flex-start;
            font-weight: 300;

            &:before{
                content: "";
                width: 22px;
                height: 22px;
                flex: 0 0 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid var(--color-3);
                margin-top: -2px;
                margin-right: 15px;
                transition: all .2s ease;
                color: #fff; 
                font-size: .9rem;
            }
           
            &:hover{
                &:before{
                    background: var(--color-3);
                }
            }
        }

        [type=checkbox]:checked + label{
            &:before{
                content: "\e92e";
                font-family: var(--font-icon);
                border-color: var(--color-3); 
                background: var(--color-3);
            }
        }
    }
    select {
        appearance: none;
        height: 50px;
		padding: 0 60px 0 20px;
		outline: none;
        width: 100%;
        max-width: 312px;
		border-radius: 0;
		background: #fff url(/assets/img/caret.svg) no-repeat right 10px center;
        background-size: auto 9px;
        border: none;
        margin: 0;
        font-weight: 300;

        &.error{
            outline: 1px solid var(--color-error)!important;
            color: var(--color-error);
        }
		option{
            color: var(--color-3);
            font-weight: 300;
		}

		&:-moz-focusring, 
        &::-moz-focus-inner{
			outline: none;
			color: transparent !important;
			text-shadow: 0 0 0 #000 !important;
        }    
		&::-ms-expand {
      	    display: none;
    	}
    }
    small{
        font-size: var(--font-size-small);
    }
    @media (--breakpoint-lg-down) {
        .field{
            flex-direction: column;
            margin-bottom: 20px;

            >label{
                margin-bottom: 5px;
                padding-right: 20px;
            }
        } 
    }
    @media (--breakpoint-lg-up) {
        [type=text],
        [type=email],
        [type=password],
        [type=tel],
        [type=date],
        [type=number],
        [type=url],
        textarea,
        select{
            max-width: 60%;
        }
        .field{
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 40px;

            >label{
                height: 50px;
                display: flex;
                align-items: center;
            }
        } 
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: inherit;
        -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
        box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
        background-color: rgba(255, 255, 255, 0);
        transition: background-color 5000s ease-in-out 0s;
    }
    ::placeholder {
        font-style: normal;
        font-family: inherit;
        opacity: .5;
        font-weight: 300;
        color: var(--color-3);
        font-size: inherit;
    }
    .error::placeholder {
        color: var(--color-error);
    }
}
