.search-form{
    padding-top: 40px;

    >fieldset{
        grid-column: container;
        display: flex;
    }

    label{
        font-size: 2rem;
        cursor: pointer;
    }
    
    input:checked + label{
        font-weight: 800;
    }
    .field{
        &:not(:last-of-type){
            margin-right: 20px;
        }
    }
}