[data-view=intro-text-image]{
    padding-top: var(--margin-xlarge);
    padding-bottom: var(--margin-xlarge);
   
    .list-text-image {
        grid-column: container;
        display: grid;
        grid-gap: var(--gap);
    }
}
