.intro-text-image{
    padding-top: var(--margin-xlg);
    padding-bottom: var(--margin-xlg);
   
    .list-text-image {
        grid-column: 1 / -1;
        display: grid;
        grid-gap: var(--gap);
    }
}
