[data-view=pre-footer] {
    background: var(--color-6);
    position: relative;
    margin-bottom: calc(-1 * var(--margin-xlg));

    .picto {
        position: absolute;
        right: 10px;
        bottom: 15px;
    }
    a {
        position: relative;
        display: flex;
        align-items: center;
        color: #fff;
        font-family: var(--font-secondary);
        padding-left: 5%;
        padding-right: 5%;
        line-height: 1.2;
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-color: transparent;
        background-size: auto 100%;
        font-size: var(--font-size-lg);

        &:first-of-type {
            background-image: url(/assets/img/pre-footer/prev.svg);
        }
        &:last-of-type {
            background-image: url(/assets/img/pre-footer/next.svg);
        }
    }
    @media (--breakpoint-md-down) {
        a {
            height: 180px;
        }
    }
  
    @media (--breakpoint-md-up) {
        height: 175px;
        height: 120px;
        display: flex;

        a {
            justify-content: center;
            width: 50%;
            height: 100%;
        }
    }
}
