#gouvernance {
    padding-top: var(--margin-large);
    padding-bottom: var(--margin-large);

    header {
        margin-bottom: var(--margin-large);
        grid-column: container;
    }

    .list{
        grid-column: 2 / -2;
    }
}
