[data-view=keywords] {
    padding-top: var(--margin-xlg);
    padding-bottom: var(--margin-xlg);
    
    .keywords {
        position: relative;
        grid-column: 2 / -2;
    }

    li {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
    button {
        color: var(--color-1);
        font-weight: 800;
        -webkit-text-stroke: 1px var(--color-1);
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease;
        text-align: left;

        &.active,
        &:hover {
            -webkit-text-fill-color: var(--color-1);
        }
        &.active + .panel {
            opacity: 1;
        }
    }

    @media (--breakpoint-md-down) {
        button {
            font-size: 3.4rem;
        }
        .panel {
            height: 0;
            overflow: hidden;
            transition: all 0.2s ease-in-out;
        }
    }
    @media (--breakpoint-md-up) {
        button {
            font-size: 4.4rem;
            line-height: 1;
            width: 55%;
        }
        .panel {
            position: absolute;
            top: 0;
            right: 0;
            width: 40%;
            opacity: 0;
            transition: all 0.3s ease;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}
