.content-col{
    padding-top: var(--margin);
    padding-bottom: var(--margin);

    >.content{
        grid-column: container;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        margin: calc(-1*var(--gap) / 2);

        li{
           flex: 1 0 320px;
           padding: calc(var(--gap) / 2 );
        }
    }
    h3{
        margin-bottom: 10px;
    }
    p{
        line-height: 1.6;
    }
}