.breadcrumb{
	position: fixed;
	z-index: 1000;
	left: 20px;
	top: 20%;
	transform: rotate(90deg);
	transform-origin: 0 100%;
	font-size: 1.4rem;
	color: #fff;
   mix-blend-mode: difference;
	
	ol{
		display: flex;

		li{
			&:not(:last-child):after{
				content:".";
				padding-left: 2px;
				padding-right: 4px;
			}
		}
	}
   @media (--breakpoint-medium-down) {
		display: none;
	}
}
