
.block-contact{
    padding-top: var(--margin-large);
    padding-bottom: var(--margin-xlarge);
    
    >header{
        grid-column: container;
        margin-bottom:  var(--margin);
    }
    >.content{
        grid-column: container;
    }
    h2{
        margin-bottom: 10px;
    }
    .text{
        font-size: var(--font-size-large);
        line-height: 1.2;
    }
}