/* Rufina */
@font-face {
    font-family: "Rufina";
    src: url(../fonts/Rufina-Stencil-Regular.woff2) format("woff2"), url(../fonts/Rufina-Stencil-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "Rufina";
    src: url(../fonts/Rufina-Stencil-Regular-Italic.woff2) format("woff2"), url(../fonts/Rufina-Stencil-Regular-Italic.woff) format("woff");
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    font-family: "Rufina";
    src: url(../fonts/Rufina-Stencil-Bold.woff2) format("woff2"), url(../fonts/Rufina-Stencil-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "Rufina";
    src: url(../fonts/Rufina-Stencil-Bold-Italic.woff2) format("woff2"), url(../fonts/Rufina-Stencil-Bold-Italic.woff) format("woff");
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
}

/* CeraPro */
@font-face {
    font-family: "CeraPro";
    src: url(../fonts/CeraPro-Light.woff2) format("woff2"), url(../fonts/CeraPro-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "CeraPro";
    src: url(../fonts/CeraPro-Regular.woff2) format("woff2"), url(../fonts/CeraPro-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "CeraPro";
    src: url(../fonts/CeraPro-Italic.woff2) format("woff2"), url(../fonts/CeraPro-Italic.woff) format("woff");
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    font-family: "CeraPro";
    src: url(../fonts/CeraPro-Medium.woff2) format("woff2"), url(../fonts/CeraPro-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "CeraPro";
    src: url(../fonts/CeraPro-Bold.woff2) format("woff2"), url(../fonts/CeraPro-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}
