.rte {
    grid-column: container;

    hr{
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-bottom: #ccc 1px solid;
    }

    .intro {
        display: block;
        font-weight: 400;
        font-size: 2rem;
        color: var(--color-3);
        line-height: 1.25;
        margin-bottom: var(--margin-xsm);
    }
    .signature {
        display: block;
        color: var(--color-3);
        font-weight: 800;
        font-style: italic;
        text-align: center;
        margin: var(--margin) 0;
    }
    h2 {
        font-family: var(--font-secondary);
        font-size: var(--font-size-lg);
        font-weight: 600;
        line-height: 1.2;
        margin-top: 40px;
        margin-bottom: var(--margin-xsm);
    }
    h3 {
        font-size: 1.6rem;
        color: var(--color-3);
        font-size: var(--font-size);
        margin-bottom: var(--margin-xsm);
    }
    p {
        margin-bottom: var(--margin-sm);
    }
    img {
        max-width: 100%;
        margin-bottom: 20px;
    }
    b,
    strong {
        font-weight: 800;
    }
    a {
        color: var(--color-1);
        &:hover {
            text-decoration: underline;
        }
    }
    ul,
    ol {
        margin-bottom: var(--margin-sm);
        li {
            padding-left: 30px;
            position: relative;

            &:not(:last-child) {
                margin-bottom: var(--margin-xsm);
            }
            &:before {
                content: "\e901";
                display: block;
                position: absolute;
                top: 2px;
                left: 0;
                font-family: var(--font-icon);
                color: var(--color-1);
                font-size: 1.1rem;
            }
        }
    }
    blockquote {
        font-family: var(--font-secondary);
        font-size: var(--lg);
        color: var(--color-1);
        text-align: center;
        line-height: 1.2;
        font-weight: 800;
        margin: var(--margin) 0;
    }

    > *:nth-child(1) {
        margin-top: 0;
    }
    > *:nth-last-child(1) {
        margin-bottom: 0;
    }

    @media (--breakpoint-md-down) {
        .signature {
            font-size: 1.8rem;
        }
    }
    @media (--breakpoint-md-up) {
        .signature {
            font-size: 2.4rem;
        }
    }
}