@import url(reset.css);
@import url(variables.css);
@import url(fonts.css);

html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-primary);
    font-weight: 300;
    line-height: 1.4;
    font-size: var(--font-size);
    color: var(--color-text);

    &.hasPopin {
        height: 100vh;
        overflow: hidden !important;
        position: relative;
        -webkit-overflow-scrolling: touch;
    }
}

address {
    font-weight: 300;
    font-style: normal;

    > div {
        position: relative;
        padding-left: 30px;

        &:before {
            content: "";
            font-family: var(--font-icon);
            display: block;
            position: absolute;
            top: 2px;
            left: 0;
            color: var(--color-primary);
            font-size: 1.2rem;
        }
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
        &.address {
            &:before {
                content: "\e900";
            }
        }
        &.tel {
            &:before {
                content: "\e904";
            }
        }
    }
}

main > section {
    padding-bottom: 40px;

    @media (--breakpoint-large-down) {
        > section[data-strate="solution-3-column"]:last-of-type {
            margin-bottom: -40px;
        }
    }
    @media (--breakpoint-large-up) {
        padding-bottom: 80px;

        > section[data-strate="solution-3-column"]:last-of-type {
            margin-bottom: -80px;
        }
    }
}
main > article {
    padding-top: var(--margin-xlarge);
    margin-bottom: var(--margin);
}

/* layout */
.container{
    box-sizing: content-box;
    max-width: var(--container-width);
	margin: 0 auto;
	padding-left: var(--container-margin);
    padding-right: var(--container-margin);
}
.container-fluid{
	padding-left: var(--container-margin);
    padding-right: var(--container-margin);
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--gap); 
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--gap); 
}

/* titles */
.tl0 {
    font-weight: 600;
    line-height: 1.15;
    font-size: var(--font-size-xxlarge);
    font-family: var(--font-secondary);
}
.tl1 {
    font-weight: 600;
    line-height: 1.2;
    font-size: var(--font-size-xxlarge);
    font-family: var(--font-secondary);

    &.light {
        color: var(--color-gray-light);
    }
}
.tl2 {
    font-weight: 800;
    font-size: var(--font-size-xlarge);
    font-family: var(--font-secondary);
    line-height: 1.1;
}
.tl3 {
    font-weight: 800;
    font-size: var(--font-size-large);
    font-family: var(--font-secondary);
    line-height: 1.15;
}

/* btns */
.btn-primary {
    border: 2px solid var(--color-primary);
    border-radius: 28px;
    font-weight: 800;
    transition: all 0.25s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:after {
        content: "\e929";
        display: inline-block;
        font-family: var(--font-icon);
        color: var(--color-primary);
        font-weight: 400;
        vertical-align: middle;
        transform: translate(0, -1px);
    }

    &:hover {
        background: var(--color-third);
        border-color: var(--color-third);
        color: #fff;
    }

    &.light {
        background: transparent;
        color: #fff;
        &:hover {
            color: var(--color-text);
            background: #fff;
            border-color: #fff;
        }
    }

    &.dark {
        background: transparent;
        border-color: var(--color-third);

        &:after {
            color: var(--color-third);
            transition: color 0.25s ease;
        }
        &:hover {
            color: var(--color-text);
            background: #fff;
            border-color: #fff;

            &:after {
                color: var(--color-primary);
            }
        }
    }

    &.download {
        &:after {
            content: "\e90a";
        }
    }
    &.email {
        &:after {
            content: "\e92d";
        }
    }

    @media (--breakpoint-medium-down) {
        min-height: 40px;
        padding-left: 18px;
        padding-right: 16px;

        &:after {
            margin-left: 15px;
            font-size: 1.2rem;
        }
    }
    @media (--breakpoint-medium-up) {
        min-height: 55px;
        padding-left: 35px;
        padding-right: 20px;

        &:after {
            margin-left: 23px;
            font-size: 1.4rem;
        }
    }
}
.btn-secondary {
    font-weight: 800;
    transition: all 0.25s ease;
    white-space: nowrap;

    &:after {
        content: "\e929";
        border: 3px solid var(--color-primary);
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-icon);
        color: var(--color-primary);
        font-weight: 400;
        vertical-align: middle;
        transition: all 0.25s ease;
    }

    &:hover {
        color: var(--color-primary);

        &:after {
            transform: scale(1.1);
        }
    }

    &.light {
        color: #fff;

        &:hover {
            color: var(--color-primary);
        }
    }

    &.dark {
        &:after {
            border-color: var(--color-third);
            color: var(--color-third);
        }
        &:hover {
            color: var(--color-third);
        }
    }

    @media (--breakpoint-medium-down) {
        &:after {
            height: 47px;
            width: 47px;
            margin-left: 20px;
        }
    }
    @media (--breakpoint-medium-up) {
        &:after {
            height: 57px;
            width: 57px;
            margin-left: 20px;
            font-size: 1.6rem;
        }
    }
}
.btn-picto {
    border: 2px solid var(--color-primary);
    height: 43px;
    width: 43px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        content: "";
        font-family: var(--font-icon);
        color: var(--color-primary);
        font-size: 2.5rem;
    }

    &.close {
        &:before {
            content: "\e930";
        }
    }
    &.check {
        &:before {
            content: "\e92f";
        }
    }
}

/* links */
.link-primary {
    font-weight: 800;
    transition: all 0.25s ease;

    &:hover {
        color: var(--color-primary);
    }
    &:not(.reverse) {
        &:after {
            content: "\e90b";
            display: inline-block;
            font-family: var(--font-icon);
            color: var(--color-primary);
            font-weight: 400;
            vertical-align: middle;
            font-size: 1.3rem;
            margin-left: 10px;
            transform: translate(0, -1px);
        }
    }

    &.reverse {
        &:before {
            content: "\e90b";
            display: inline-block;
            font-family: var(--font-icon);
            color: var(--color-primary);
            font-weight: 400;
            vertical-align: middle;
            font-size: 1.3rem;
            margin-right: 10px;
            transform: translate(0, -1px) rotate(180deg);
        }
    }
    &.light {
        color: #fff;
        &:hover {
            color: var(--color-primary);
        }
    }
    &.dark {
        &:after,
        &:before {
            color: var(--color-third);
        }
        &:hover {
            color: var(--color-third);
        }
    }
    @media (--breakpoint-small-up) {
        font-size: 1.4rem;
    }
}
.link-secondary {
    font-weight: 800;
    transition: all 0.25s ease;
    white-space: nowrap;

    &:hover {
        color: var(--color-primary);
    }

    &:before {
        content: "\e90c";
        display: inline-block;
        font-family: var(--font-icon);
        color: var(--color-primary);
        font-weight: 400;
        vertical-align: middle;
        font-size: 1.3rem;
        margin-right: 10px;
        transform: translate(0, -1px);
    }

    &.light {
        color: #fff;
        &:hover {
            color: var(--color-primary);
        }
    }
    &.dark {
        &:before {
            color: var(--color-third);
        }
        &:hover {
            color: var(--color-third);
        }
    }
    @media (--breakpoint-small-up) {
        font-size: 1.4rem;
    }
}

/* */
.hasPattern {
    --color: var(--color-1);

    path {
        stroke-width: 2;
        transition: fill 0.3s ease;
        fill: var(--color);
        stroke: var(--color);
    }

    &:not(:hover):not(.noHover) {
        path {
            fill: transparent;
        }
    }
}

/* picto */
.picto {
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);

    &:before {
        font-family: var(--font-icon);
        font-weight: 400;
    }
    &.plus {
        &:before {
            content: "\e911";
        }
    }
    &.arrow-right {
        &:before {
            content: "\e929";
        }
    }
    &.linkedin {
        &:before {
            content: "\e92c";
        }
    }
    &.mail {
        &:before {
            content: "\e92d";
        }
    }
    &.download {
        &:before {
            content: "\e90a";
        }
    }
    &.dark {
        border: 2px solid $color-third;
        color: $color-third;
    }
    &.light {
        background: var(--color-primary);
        color: #fff;
    }
}

/* bg animate */
.bgAnimate {
    background-color: rgba(235, 241, 249, 1);
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 1));
    width: 100%;
    position: fixed;
    height: 100vh;
    z-index: -1;
    transition: all 2.3s ease;

    svg {
        width: 100%;
        height: 100%;
    }
    path {
        fill: none;
        stroke: #fff;
        stroke-width: 3;
        transition: all 0.3s ease;
    }
    &.color-0 {
        path {
            stroke: #fff;
        }
    }
    &.color-4 {
        path {
            stroke: var(--color-4);
        }
    }

    &.bg-1 {
        background-color: #ebf1f9;
        background-image: linear-gradient(rgba(235, 241, 249, 0), #b1c6d2);
    }

    &.change {
        background-color: #fff;
        path {
            stroke: transparent !important;
        }
        &.bg-1 {
            background-color: rgba(#b1c6d2, 1);
        }
    }
}

/* path animate */
@keyframes pathAnimate {
    100% {
        stroke-dashoffset: 0;
    }
}

/* lazy load */
img[loading] {
    opacity: 0;
    height: auto;
    transition: opacity 0.35s ease;
}
img[loading=eager] {
    opacity: 1;
}