[data-view=hero-page] {
    text-align: center;

    h1 {
        margin-bottom: var(--margin-sm);
    }
    .intro {
        color: var(--color-3);
        font-weight: 400;
    }

    @media (--breakpoint-md-down) {
        padding-top: 140px;
        padding-bottom: 20px;
        h1 {
            grid-column: 1 / -1;
        }
        .intro {
            grid-column: 1 / -1;
        }
    }
    @media (--breakpoint-md-up) {
        padding-top: 230px;
        padding-bottom: 60px;

        h1 {
            grid-column: 3 / -3;
        }
        .intro {
            grid-column: 3 / -3;
        }
    }
}
