.carousel-offset{
    padding-top: var(--margin);
    padding-bottom: var(--margin);
    overflow: hidden;

    >.content{
        grid-column: container;
    }

    h2{
        margin-bottom: 20px;
    }

    ul{
        display: grid;
        grid-column-gap: var(--gap);
       /* grid-auto-columns: minmax(min-content, max-content);*/
        grid-auto-columns: max-content;

        li{
            grid-row: 1;
        }
    }
}