
[data-view=block-last_news]{
    padding-top: var(--margin-large);
    padding-bottom: var(--margin-large);
   
    >header{
        grid-column: container;
    }
    >.content{
        grid-column: container; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2{
        margin-bottom: var(--margin);
    }
    
    ul{
        display: grid;
        grid-gap: var(--gap);
        width: 100%;
    }
    img{
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .btn-more{
        margin-top: 40px;
    }

    @media (--breakpoint-small-up){
        ul{
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (--breakpoint-large-up){
        ul{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
